
<div ng-controller="ItemCtrl as ictrl" class="container">
    <div>
        <h2>Item Table</h2>
        <table>
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Item Type</th>
                <th>Item Quantity</th>
                <th>Item Price</th>
                <th>Item Seller</th>
                <th>Inventory ID</th>
                <th>Amount to buy</th>
                <th>Add To Cart</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in ictrl.shopitems">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.seller}}</td>
                <td>{{item.inventoryID}}</td>
                <td>
                    <input type="number" disabled="disabled"/>
                </td>
                <td>
                    <button disabled="disabled">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>Total quantity of the items is: ...</p>
        <button disabled="disabled">Buy Items</button>
    </div>
</div>
<div ng-controller="ItemCtrl as ictrl" class="container2">
    <div>
        <h2>Item Table (admin)</h2>
        <div class="row">
            <ul class="list-group">
                <li ng-repeat="item in ictrl.shopitems" ng-click="ictrl.selectItem($index)" class="list-group-item"><span>{{ item.id +" - "+ item.name }}</span></li>
            </ul>
        </div>
        <div class="row">
            <div class="media">
                <div class="media-body">
                    <button ng-click="ictrl.addItem()">Add</button>
                    <button ng-hide="ictrl.editMode" ng-click="ictrl.toggleEditMode()">Edit</button>
                    <button ng-show="ictrl.editMode" ng-click="ictrl.saveItem()" onclick="document.location.reload(true)">Save</button>
                    <button ng-click="ictrl.removeItem()" onclick="document.location.reload(true)">Delete</button>
                    <div ng-if="ictrl.successMessage" class="alert alert-success">{{ ictrl.successMessage }}</div>
                    <div ng-if="ictrl.errorMessage" class="alert alert-danger">{{ ictrl.errorMessage }}</div>
                    <p><span>ID:</span><span>{{ " "+ ictrl.selectedItem.id }}</span></p>
                    <p><span>Name:</span><span ng-hide="ictrl.editMode">{{ " "+ ictrl.selectedItem.name }}</span>
                        <input type="text" ng-show="ictrl.editMode" ng-model="ictrl.selectedItem.name"/>
                    </p>
                    <p><span>Type:</span><span ng-hide="ictrl.editMode">{{ " "+ ictrl.selectedItem.type }}</span>
                        <input type="text" ng-show="ictrl.editMode" ng-model="ictrl.selectedItem.type"/>
                    </p>
                    <p><span>Quantity:</span><span ng-hide="ictrl.editMode">{{ " "+ ictrl.selectedItem.quantity }}</span>
                        <input type="number" ng-show="ictrl.editMode" ng-model="ictrl.selectedItem.quantity"/>
                    </p>
                    <p><span>Price:</span><span ng-hide="ictrl.editMode">{{ " "+ ictrl.selectedItem.price }}</span>
                        <input type="number" ng-show="ictrl.editMode" ng-model="ictrl.selectedItem.price"/>
                    </p>
                    <p><span>Seller:</span><span ng-hide="ictrl.editMode">{{ " "+ ictrl.selectedItem.seller }}</span>
                        <input type="text" ng-show="ictrl.editMode" ng-model="ictrl.selectedItem.seller"/>
                    </p>
                    <p><span>Inventory ID:</span><span>{{ " "+ ictrl.selectedItem.inventoryID }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>