body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  height: 20px;
  text-align: center;
}

/*th, td {*/
  /*border: 1px solid #ddd;*/
/*}*/
